.hero {
	text-align: center;
	color: #fff;
	padding: 40px 15px;
	background-color: $darkgray;

	@include flexbox();
	@include flex-direction(column);
	@include justify-content(center);
}

	.hero--large {
		min-height: 40vh;
	}

	.hero__title {
		margin: 0;
		.hero--large & {
			color: $lightgreen;
			line-height: 1;
			margin-top: 0.212em;
			margin-bottom: 0.414em;
		}
	}

	.hero__subtitle {

		margin: 0 auto;
		display: inline-block;
		&:after {
			content: "|";
			opacity: 0;
			color: $lightgreen;
		}

		&.flash-on:after {
			opacity: 1;
		}
		
		color: $lightgreen;
		font-size: $font-size-h4;
		font-family: $monoFont;
		text-transform: lowercase;
		line-height: 1.2;
		padding: 0 3px;

		.hero--large & {
			color: #fff;
		}
	}
