.hero {
	text-align: center;
	color: #fff;
	padding: 40px 15px;
	background-color: $darkgray;

	@include flexbox();
	@include flex-direction(column);
	@include justify-content(center);
}

	.hero--large {
		height: 40vh;
		min-height: 12em;
	}

	.hero__title {
		.hero--large & {
			color: $lightgreen;
		}
	}

	.hero__title, .hero__subtitle {
		margin: 0;
	}

	.hero__subtitle {
		color: $lightgreen;
		font-size: $font-size-h4;
		font-family: $monoFont;
		text-transform: lowercase;

		.hero--large & {
			color: #fff;
		}
	}
