.nav {
	font-family: $monoFont;
	text-transform: lowercase;
	background-color: darken($darkgray, 3%);
	padding: 5px 5px 0;
	@include flexbox();
	@include justify-content(space-between);
}

	.nav__title {
		color: $lightgreen;
		margin: 0;
	}

	.nav__items {
		padding: 0;
		margin: 0;
		list-style: none;
		@include flex(1);
		text-align: right;
	}

	.nav__item {
		display: inline-block;
	}

	.nav__link, .nav__title {
		padding: 4px;
		display: inline-block;
		border-bottom: 2px solid transparent;
	}

	.nav__link {
		color: $pink;
		font-weight: 400;
	}

	.nav__link--active {
		color: #fff;
		border-bottom: 2px solid #fff;
		// &:before {
		// 	content: "[";
		// }
		// &:after {
		// 	content: "]";
		// }
	}