.post-preview {
	margin-bottom: 1em;
	border-radius: 2px;
}

	.post-preview__title {
		font-family: $headerFont;
		text-transform: lowercase;
	}

	.post-preview__subtitle {
		font-family: $monoFont;
	}

	.post-preview__title, .post-preview__subtitle {
		margin: 0;
	}

	.post-preview__date {
		font-family: $monoFont;
		float: right;
		margin-top: 5px;
		color: $darkblue;
	}




