.section {
	padding: 40px 0;
}
	.section__headline {
		font-family: $monoFont;
		margin-top: 0;
		text-transform: lowercase;
		border-bottom: 2px solid transparent;
	}


.recent-projects {
	background-color: $darkergray;
	border-top: 1px solid $darkergray;

	.section__headline {
		color: $pink;
		border-color: $pink;
	}


	.read-more__link {
		color: $pink;
		border-color: $pink;
		&:hover {
			background-color: $pink;
			color: $darkergray;
		}
	}
}





.about-image {
	max-width: 80%;
}

.switzerland {
	max-width: 50%;
}

.post-preview {
	margin-bottom: 1em;
	border-radius: 2px;
}

	.post-preview__title {
		font-family: $headerFont;
		text-transform: lowercase;
	}

	.post-preview__subtitle {
		font-family: $monoFont;
	}

	.post-preview__title, .post-preview__subtitle {
		margin: 0;
	}

	.post-preview__date {
		font-family: $monoFont;
		float: right;
		margin-top: 5px;
		color: $darkblue;
	}

	.recent-projects {
		.post-preview__title, .post-preview__subtitle, .post-preview__link {
			color: #fff;
		}
		.post-preview__link:hover {
			color: $purple;
		}
		.post-preview__date {
			color: $purple;
		}
	}



