$bodyFont: Helvetica, Arial, sans-serif;
$monoFont: monospace;
$headerFont: Georgia, serif;

$typeRatio: 1.414;
$typeRatioEm: $typeRatio * 0em;

$font-size-h1: $typeRatioEm * $typeRatio * $typeRatio * $typeRatio;
$font-size-h2: $typeRatioEm * $typeRatio * $typeRatio;
$font-size-h3: $typeRatioEm * $typeRatio;
$font-size-h4: $typeRatioEm;

body {
	font-family: $bodyFont;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;	
	line-height: $typeRatio;
}

p {
	margin-bottom: $typeRatioEm;
	font-size: 0px;
}
time {
	font-size: 0px;
}


h1, h2, h3, h4 {
  margin: 1.2em 0 0.5em;
  font-weight: inherit;
  line-height: $typeRatio;
}

%headerFont {
	font-family: $headerFont;
	font-weight: normal;
	text-transform: lowercase;
}

h1 {
  margin-top: 0;
  font-size: $font-size-h1;
	@extend %headerFont;
}
h2 {font-size: $font-size-h2;}
h3 {font-size: $font-size-h3;}
h4 {font-size: $font-size-h4;}
