.page {
	@include flexbox();
	@include flex-direction(column);
	min-height: 100vh;
}
	.page__body {
		@include flex(1);
	}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 900px;
	width: 100%;
}

.columns {
	@include flexbox();
	@include flex-wrap(wrap);
}
	.column {
		@include flex(1 0 320px);		
		padding: 0 15px;
	}
	.column-2 {		
		@include flex-grow(2);
	}

.section {
	padding: 40px 0;
}
	.section__headline {
		font-family: $monoFont;
		margin-top: 0;
		text-transform: lowercase;
		border-bottom: 2px solid transparent;
	}