$typeRatio: 1.414;
$typeRatioEm: $typeRatio * 1em;

$font-size-h1: $typeRatioEm * $typeRatio * $typeRatio * $typeRatio;
$font-size-h2: $typeRatioEm * $typeRatio * $typeRatio;
$font-size-h3: $typeRatioEm * $typeRatio;
$font-size-h4: $typeRatioEm;
